.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    font-family: Cascadia Mono, Arial, sans-serif;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(249, 240, 240, 0.903);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    border: 3px solid #dddddd;
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr {
    border: 3px solid #dddddd;
}